<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" th:href="@{/css/application.css}">
		<title>BestSongsOf2021</title>
	</head>
	
	<body>
		<h1>Best of 2021</h1>
		<h2 th:text="${title}"></h2 >
		<div>
			<ul th:if="${list.size() > 0}">
				<!--each funziona che creo una variabile temporanea item, per ogni item nella lista leggi il valore di item-->
				<li th:each="item : ${list}" th:text="${item}"/>			
			</ul >
		</div>
		<p th:unless="${list.size() > 0}">No elements in list</p >
		<a th:href="@{'/'}">Return to homepage</a>
	</body>
	
</html>

<!--faccio un unico template per entrambe le liste perché il codice è uguale
cambia solo il titolo, quindi come ho fatto per la lista li aggiungo nel model del controller
e poi sceglie lui il metodo giusto in base all'url selezionato,
così posso eliminare gli html movies e songs-->
